#test{
  margin-top: 50px;
}
html,
body,
.banner {
  width: 100%;
  height: 100%;
}

.banner {
  width: 100%;
  height: 40%;
  background-color: #CCC;
  background-repeat: no-repeat;
  background-postion: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#banner1 {
  background-image: url(http://sf.co.ua/16/03/wallpaper-3d9d0.jpg)
}
#homeText{
  padding-top: 100px;
  padding-left: 50px;
}
#second{
  width:680px;
  color: white;
  text-align: center;
  margin: 0 auto;
}
.nav {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.nav>li>a {
   font-size:15px;
   color: white !important;
}
